body {
    background-image: url(https://images.squarespace-cdn.com/content/v1/63c84a33e45e6c691d18e748/40951327-3961-492e-90ab-545d0f5614d9/Floor+Pattern.png?format=1000w);
    color:rgba(0, 101, 150, 0.9);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 40px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 100, 150, 0.87);
    color:white;
    margin:0;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .header img {
    margin-right:10px;
  }
  
  
  .container {
    max-width: 1400px;
    margin: 2rem, 3rem;
  }
  .card-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    
  }
  .card {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    border-radius: .50rem;
    margin: 1rem;
    box-shadow: 0 0 5px 2px rgba(170, 201, 212, 0.558);
    background-image: url("https://www.frenchpaper.com/cdn/shop/products/KRAFT-TONE_Index_Off-White_Kraft_100C_01_1800x1800.jpg?v=1624629595");
    height: 150px;
    width: 150px;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    font-size: 12px;
    padding: 1rem;
  }
  
  .card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 10px 5px rgb(6, 74, 126, 0.638);
  }
  .card.flip {
    --rotate-y: 180deg;
  }
  .card .front,
  .card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(180deg);
  }
  
  .card .front {
    left: 0;
  }
  
  /* .flashcard-options {
    margin-top: .5rem;
  }
  
  .flashcard-option {
    margin-top: .25rem;
    color: rgba(0, 101, 141, 0.9);
    font-size: .70rem;
  }
  
  .flashcard-option:first-child {
    margin-top: 0;
  } */
  
  select {
    padding: .5rem;
    border-radius: 1rem;
    background-color: rgba(6, 74, 126, 0.838);
    border-color: ghostwhite;
    color:ghostwhite;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    margin-top:2rem;
    margin-bottom: 2rem;
  }
  
  .card .back ul {
    list-style-type: disc;
    padding-left: 1.5em;
    margin-top: 0.5em;
    text-align: left;
  }
  
  .card .back li {
    margin-bottom: 0.25em;
    justify-content: left;
  }
  
  .card .front img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  
  .card .back img {
    max-width: 100%;
    height: auto;
    margin-top:1rem;
  }
  
  .card .h3 {
    margin-top: -1rem;
  }

  .vegan-icon {
    color: green;
    font-size: 1.5rem;
    margin-left: 5px;
  }